UPLOAD_SERVICE_PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5544
POSTGRES_USER=movie
POSTGRES_PASSWORD=movie
POSTGRES_DB=movie_streamer
POSTGRES_SSLMODE=disable

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
MINIO_BUCKET=movies

UPLOAD_PART_SIZE=52428800
UPLOAD_PRESIGN_TTL_SECONDS=3600
